/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
	Basics
*/
/* line 19, ../sass/styles.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 27, ../sass/styles.scss */
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 29, ../sass/styles.scss */
* html .clearfix {
  height: 1%;
}

/* line 30, ../sass/styles.scss */
.clearfix {
  display: block;
}

/* close commented backslash hack */
/* apply a natural box layout model to all elements, but allowing components to change */
/* line 34, ../sass/styles.scss */
html {
  box-sizing: border-box;
}

/* line 37, ../sass/styles.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/*----------------------------------------------------*/
/* line 42, ../sass/styles.scss */
body {
  background: url("../images/bg.png") repeat;
  font-family: 'Montserrat', sans-serif;
}

/* line 48, ../sass/styles.scss */
h1, h2, h3, h4 {
  font-weight: bold;
}

/* line 50, ../sass/styles.scss */
h1.space, h2.space, h3.space {
  margin-bottom: 15px;
}

/* line 52, ../sass/styles.scss */
h1 {
  font-size: 1.5em;
}

/* line 53, ../sass/styles.scss */
h2 {
  font-size: 1.3em;
}

/* line 54, ../sass/styles.scss */
h3 {
  font-size: 1.1em;
}

/* line 55, ../sass/styles.scss */
em {
  font-style: italic;
}

/* line 57, ../sass/styles.scss */
#pagewrap {
  margin: 10px auto;
  width: 850px;
  background: white;
  border: solid 1px black;
}

/* line 65, ../sass/styles.scss */
#page-view {
  min-height: 100px;
}

/*
	Header and Navigation
*/
/* line 72, ../sass/styles.scss */
header {
  height: 30px;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
}
/* line 80, ../sass/styles.scss */
header nav li {
  display: block;
  float: left;
  margin-right: 15px;
}
/* line 85, ../sass/styles.scss */
header nav a {
  color: #03c;
  font-weight: bold;
  text-decoration: none;
}
/* line 90, ../sass/styles.scss */
header nav a:hover {
  color: black;
  transition: color 0.2s linear;
}
/* line 95, ../sass/styles.scss */
header nav a.active {
  color: black;
}

/*
	Sections
*/
/* line 106, ../sass/styles.scss */
.section {
  border-top: solid 1px #ccc;
  padding: 15px;
  width: 100%;
}
/* line 112, ../sass/styles.scss */
.section a {
  color: #03c;
  text-decoration: none;
}
/* line 116, ../sass/styles.scss */
.section a:hover {
  text-decoration: underline;
}
/* line 123, ../sass/styles.scss */
.section ul {
  margin-top: 15px;
  list-style: square;
}
/* line 128, ../sass/styles.scss */
.section ul li {
  margin-left: 30px;
  margin-bottom: 15px;
}
/* line 134, ../sass/styles.scss */
.section .align-left {
  float: left;
  width: 600px;
}
/* line 139, ../sass/styles.scss */
.section .align-right {
  float: right;
}
/* line 143, ../sass/styles.scss */
.section img {
  border: solid 1px black;
}
