/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans);
/* line 5, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
Basics
*/
/* line 20, ../sass/styles.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 28, ../sass/styles.scss */
.clearfix {
  display: inline-block;
}

/* start commented backslash hack \*/
/* line 30, ../sass/styles.scss */
* html .clearfix {
  height: 1%;
}

/* line 31, ../sass/styles.scss */
.clearfix {
  display: block;
}

/* close commented backslash hack */
/* apply a natural box layout model to all elements, but allowing components to change */
/* line 35, ../sass/styles.scss */
html {
  box-sizing: border-box;
}

/* line 38, ../sass/styles.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/*----------------------------------------------------*/
/* line 43, ../sass/styles.scss */
body {
  background: url("../images/bg.png") repeat;
  font-family: 'Open Sans', sans-serif;
}

/* line 50, ../sass/styles.scss */
li {
  line-height: 1.3em;
}

/* line 54, ../sass/styles.scss */
h1, h2, h3, h4 {
  font-weight: bold;
}

/* line 56, ../sass/styles.scss */
h1.space, h2.space, h3.space {
  margin-bottom: 15px;
}

/* line 58, ../sass/styles.scss */
h1 {
  font-size: 1.5em;
}

/* line 59, ../sass/styles.scss */
h2 {
  font-size: 1.3em;
}

/* line 60, ../sass/styles.scss */
h3 {
  font-size: 1.1em;
}

/* line 61, ../sass/styles.scss */
em {
  font-style: italic;
}

/* line 62, ../sass/styles.scss */
span.me {
  font-weight: bold;
  text-decoration: underline;
}

/* line 64, ../sass/styles.scss */
#pagewrap {
  margin: 10px auto;
  width: 850px;
  background: white;
  border: solid 1px black;
}

/* line 72, ../sass/styles.scss */
#page-view {
  min-height: 100px;
}

/*
  FRONT PAGE IMAGE
*/
/* line 79, ../sass/styles.scss */
.front-page-image {
  border-radius: 50%;
}

/*
Header and Navigation
*/
/* line 86, ../sass/styles.scss */
header {
  height: 30px;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
}
/* line 94, ../sass/styles.scss */
header nav li {
  display: block;
  float: left;
  margin-right: 15px;
}
/* line 99, ../sass/styles.scss */
header nav a {
  color: #03c;
  font-weight: bold;
  text-decoration: none;
}
/* line 104, ../sass/styles.scss */
header nav a:hover {
  color: black;
  transition: color 0.2s linear;
}
/* line 109, ../sass/styles.scss */
header nav a.active {
  color: black;
}

/*
Sections
*/
/* line 120, ../sass/styles.scss */
.section {
  border-top: solid 1px #ccc;
  padding: 15px;
  width: 100%;
}
/* line 126, ../sass/styles.scss */
.section p {
  line-height: 1.2em;
  margin-top: 15px;
  text-align: justify;
}
/* line 131, ../sass/styles.scss */
.section p.footer {
  margin-top: 0;
}
/* line 136, ../sass/styles.scss */
.section strong {
  font-weight: bold !important;
}
/* line 137, ../sass/styles.scss */
.section .bold-and-underline {
  text-decoration: underline;
  font-weight: bold;
}
/* line 138, ../sass/styles.scss */
.section .line-break {
  margin: 20px 50px;
  border-style: dashed;
  border-width: 1px;
  border-color: #ccc;
}
/* line 145, ../sass/styles.scss */
.section a {
  color: #03c;
  text-decoration: none;
}
/* line 149, ../sass/styles.scss */
.section a:hover {
  text-decoration: underline;
}
/* line 156, ../sass/styles.scss */
.section ul {
  margin-top: 15px;
  list-style: square;
}
/* line 161, ../sass/styles.scss */
.section ul li {
  margin-left: 30px;
  margin-bottom: 15px;
}
/* line 167, ../sass/styles.scss */
.section .align-left {
  float: left;
}
/* line 172, ../sass/styles.scss */
.section .align-right {
  float: right;
}
/* line 176, ../sass/styles.scss */
.section img {
  border: solid 1px black;
}

/* line 184, ../sass/styles.scss */
.cv-page .align-left {
  width: 250px;
}
/* line 187, ../sass/styles.scss */
.cv-page .align-right {
  width: 555px;
}

/* line 192, ../sass/styles.scss */
.ng-enter {
  position: relative;
  z-index: 9999;
}

/* line 200, ../sass/styles.scss */
.ng-leave {
  position: absolute;
  background: white;
  z-index: 1;
}

@media only screen and (max-device-width: 480px) {
  /* line 212, ../sass/styles.scss */
  nav ul li {
    font-size: 14px;
  }

  /* line 217, ../sass/styles.scss */
  #pagewrap {
    width: 100%;
  }

  /* line 222, ../sass/styles.scss */
  .home-page .align-left {
    max-width: 70%;
  }
  /* line 223, ../sass/styles.scss */
  .home-page .align-right {
    max-width: 30%;
  }
  /* line 224, ../sass/styles.scss */
  .home-page .my-img img {
    max-width: 100%;
  }

  /* line 227, ../sass/styles.scss */
  .section {
    font-size: 14px;
  }
  /* line 230, ../sass/styles.scss */
  .section ul li {
    font-size: 14px;
    line-height: 14px;
  }
  /* line 233, ../sass/styles.scss */
  .section ul li ul li {
    margin-left: 15px;
  }

  /* line 240, ../sass/styles.scss */
  .cv-page .align-left, .contact-page .align-left {
    width: 100%;
    float: none;
    display: block;
    margin: 0 auto;
  }
  /* line 241, ../sass/styles.scss */
  .cv-page img, .contact-page img {
    margin: 0 auto;
    display: block;
  }
  /* line 242, ../sass/styles.scss */
  .cv-page .align-right, .contact-page .align-right {
    clear: both;
    width: 100% !important;
    float: none;
    display: block;
    margin-bottom: 15px;
  }

  /* line 247, ../sass/styles.scss */
  .contact-page .align-right {
    margin-top: 15px;
    margin-bottom: 0;
  }
}
@media only screen and (max-device-width: 320px) {
  /* line 253, ../sass/styles.scss */
  nav ul li {
    font-size: 14px;
  }

  /* line 257, ../sass/styles.scss */
  .section {
    font-size: 12px;
  }
  /* line 259, ../sass/styles.scss */
  .section ul li {
    font-size: 12px;
  }
}
