/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3" ;
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans);


$color1: #312c32;
$color2: #98dafc;
$color3: #daad86;
$color4: white ;

/*
Basics
*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*----------------------------------------------------*/

body {
  // background: $color1 ;
  background: url('../images/bg.png') repeat;
  // font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

li {
  line-height: 1.3em;
}

h1, h2, h3, h4 { font-weight: bold; }

h1.space, h2.space, h3.space { margin-bottom: 15px; }

h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
em { font-style: italic; }
span.me { font-weight: bold; text-decoration: underline;}

#pagewrap {
  margin: 10px auto;
  width: 850px;
  background: $color4;
  //@include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
  border: solid 1px black ;
}

#page-view {
  min-height: 100px;
}

/*
  FRONT PAGE IMAGE
*/
.front-page-image {
  border-radius: 50%;
}

/*
Header and Navigation
*/
header {
  height: 30px;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 15px;

  // Navigation
  nav {
    li {
      display: block;
      float: left;
      margin-right: 15px;
    }
    a {
      color: #03c;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: black;
        transition: color 0.2s linear;
      }

      &.active {
        color: black;
      }
    }
  }
}

/*
Sections
*/

.section {

  border-top: solid 1px #ccc;
  padding: 15px;
  width: 100% ;

  p {
    line-height: 1.2em;
    margin-top: 15px;
    text-align: justify;

    &.footer {
      margin-top: 0;
    }
  }

  strong { font-weight: bold !important}
  .bold-and-underline { text-decoration: underline; font-weight: bold; }
  .line-break {
    margin: 20px 50px;
    border-style: dashed;
    border-width: 1px;
    border-color: #ccc;
  }

  a {
    color: #03c;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }


  }

  ul {

    margin-top: 15px;
    list-style: square;

    li {
      margin-left: 30px;
      margin-bottom: 15px;
    }
  }

  .align-left {
    float: left;
    // width: 450px;
  }

  .align-right {
    float: right;
  }

  img {
    border: solid 1px black;
    // @include box-shadow();
  }

}

.cv-page {
  .align-left {
    width: 250px;
  }
  .align-right {
    width: 555px;
  }
}

.ng-enter 		{
  // -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
  // animation-delay: 2s;

  position: relative;
  z-index: 9999;
}

.ng-leave {
  position: absolute;
  background: white;
  z-index: 1;

}


// Fix mobile view
@media only screen
and (max-device-width: 480px) {
  nav {
    ul li {
      font-size: 14px;
    }
  }

  #pagewrap {
    width: 100%;
  }

  .home-page {
    .align-left { max-width: 70%; }
    .align-right { max-width: 30%; }
    .my-img img { max-width: 100%; }

  }
  .section {
    font-size: 14px;

    ul li {
      font-size: 14px;
      line-height: 14px;
      ul li {
        margin-left: 15px;
      }
    }
  }

  .cv-page, .contact-page {
    .align-left { width: 100%; float: none; display: block; margin: 0 auto; }
    img { margin: 0 auto; display: block; }
    .align-right { clear: both; width: 100% !important;
      float: none; display: block;
      margin-bottom: 15px;
    }
  }
  .contact-page .align-right { margin-top: 15px; margin-bottom: 0; }
}

@media only screen
and (max-device-width: 320px) {
  nav {
    ul li {
      font-size: 14px;
    }
  }
  .section {
    font-size: 12px;
    ul li {
      font-size: 12px;
    }
  }
}
